# Angular build output
**/dist
**/.angular
**/.angular-cache
**/build

# Node modules
**/node_modules/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
*.log


# enviroment files
**/.env

# Package lock files 
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Compiled files
*.js
*.js.map
*.tsbuildinfo

# IDE files and OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
.vscode/
.idea/
*.tmp
*.swp

#project specific ignores

#taskone/frontend/.angular/
#taskone/frontend/.angular/cache/
#taskone/frontend/dist/
#taskone/frontend/node_modules/

#taskone/backend/node_modules/

#tasktwo/loancalc/.angular/
#tasktwo/loancalc/.angular/cache/
#tasktwo/loancalc/dist/
#tasktwo/loancalc/node_modules/

#taskthree/multilevel/.angular/
#taskthree/multilevel/.angular/cache/
#taskthree/multilevel/dist/
#taskthree/multilevel/node_modules




