
<div *ngIf="loading" class="p-4 text-center">Loading...</div>
<div *ngIf="error" class="p-4 text-red-600">{{ error }}</div>
<div class="max-w-4xl mx-auto mt-8 px-4">
  <div class="text-center mb-6">
    <img *ngIf="logoUrl" [src]="logoUrl" alt="Logo" class="mx-auto h-20 object-contain" />
    <p class="mt-4 text-lg text-gray-700">{{ description }}</p>
  </div>

    

<!-- carousel-->
<div class="default-carousel" class="relative w-full"  *ngIf="banners.length > 0">
  <app-carousel [banners]="banners"></app-carousel>
</div>

    <!-- CSV Data Table -->
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr class="bg-gray-100">
          <th *ngFor="let key of csvData[0] | keyvalue"
              class="px-4 py-2 border text-left">
            {{ key.key }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of csvData" class="hover:bg-gray-50">
          <td *ngFor="let cell of row | keyvalue"
              class="px-4 py-2 border">
            {{ cell.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

 


